mixin navigation
  nav
    a(href="/")
      b Home
    a(href="/countries") Countries 
    a(href="/capitals") Capitals
    a(href="/cities") Cities
    a(href="/gallery") Gallery
    a(href="/languages") Languages
    a(href="/popular_languages") Popular Languages
    a(href="/about") About 
