extends layout

block head
  link(rel="stylesheet", href="/gallery.css")

block content
  h2 Gallery
  .gallery
      img.gallery-img(src=`/image/great.png`, alt="", height="300")
      img.gallery-img(src=`/image/epel.png`, alt="", height="300")
      img.gallery-img(src=`/image/msid.png`, alt="", height="300")